@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700|Lato:400,700);
.navbar {
  text-transform: uppercase;
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
